# STRING INDEKS

In [3]:
kelas = 'ini kelas algoritma'
#dari awal huruf nya dihitung dari 0,spasi juga di masuk hitungan

In [4]:
print(kelas[0:3])
#angka0 itu awal hurufnya lalu :3 itu artinya batas

ini

In [5]:
print(kelas[0:-1])
#hitungan (-angka itu dimulai dari belakang seperti (-1 itu adalah dari huruf a))

ini kelas algoritm

In [6]:
print(kelas[5:-1])
#di mulai dari huruf ke termasuk spasi lalu dibatasi (-1)

elas algoritm

In [7]:
print(kelas[2:-1:3])
#misalkan a:b:c a itu mulai dari hitungan a lalu b itu batas akhirnya, c itu loncatan dari huruf ke a

ieslrm

In [8]:
print(kelas[-3])
#kalau ga pakai :artinya diminta huruf yang ke -3

t

In [9]:
print(kelas[:-3])
#kalau pakai : artinya batas hurufnya sampai itungan ke -3

ini kelas algori

In [10]:
print(kelas[1:])
# jika bentuk nya a: artinya hurufnya dimulai dari huruf ke 1

ni kelas algoritma

In [11]:
print(kelas[:])
#bentuk seperti ini artinya tidak memiliki mulai dan batas

ini kelas algoritma

# coba lagi

In [6]:
nama = 'Ni Putu Karistya Paicha Maesi'

In [3]:
print(kelas[1:3])
#karna seharusnya nama bukan kelas

NameError: name 'kelas' is not defined

In [8]:
print(nama[1:5])

i Pu

In [9]:
print(nama[1:-5])

i Putu Karistya Paicha

In [10]:
print(nama[5:-6])

tu Karistya Paicha

In [12]:
print(nama[1:-4:3])

iu rt ia

In [13]:
print(nama[2:])

 Putu Karistya Paicha Maesi

In [14]:
print(nama[:])

Ni Putu Karistya Paicha Maesi

# string methods

In [12]:
judul = 'Bali Surga Dunia'

In [13]:
print(len(judul))

16

In [14]:
judul.upper()

'BALI SURGA DUNIA'

In [15]:
judul.lower()

'bali surga dunia'

In [16]:
judul.find('surga')
#jika output nya -1 artinya kita salah input yang dimana sehausnya pakai s besar(S)

-1

In [17]:
judul.find('Surga')
#uotput angka 5 artinya dimulai pada huruf ke 5

5

In [18]:
judul.find('Bali')

0

In [19]:
judul.replace('bali','Indonesia')
#outputnya gamau replace karena kata bali menggunakan huruf b kecil

'Bali Surga Dunia'

In [20]:
judul.replace('Bali', 'Indonesia')
#artinya ganti kata bali dengan kata indonesia

'Indonesia Surga Dunia'

In [21]:
print('Bali' in judul)

True

In [22]:
print('bali' in judul)

False

# coba coba

In [23]:
grup = 'Grup Whatshapp Kami Bernama Babi'

In [24]:
print(len(grup))

32

In [25]:
grup.upper()

'GRUP WHATSHAPP KAMI BERNAMA BABI'

In [26]:
grup.lower()

'grup whatshapp kami bernama babi'

In [27]:
grup.find('Babi')

28

In [29]:
grup.find('Kami')

15

In [2]:
grup.find('kami')
#karna pada perintah di atas kami menggunakan K besar

NameError: name 'grup' is not defined

# OPERASI MATEMATIKA DI PHYTON

In [30]:
print(2+3)

5

In [31]:
print(2-3)

-1

In [32]:
print(2*3)

6

In [33]:
print(7/3)

2.3333333333333335

In [34]:
print(7//3)

2

In [35]:
print(7%3)

1

In [36]:
print(2**3)
x=3
x+=1

8

In [37]:
print(x)
x-=2

4

In [38]:
print(x)
x*=3

2

In [39]:
print(x)

6

In [40]:
x = 3>2
print(x)

True

In [41]:
x = 2<3
print(x)

True

In [42]:
x = 3 >=2
print(x)

True

In [43]:
x = 2 <= 3
print (x)

True

In [44]:
x = 3 == 3
print(x)

True

In [45]:
x = 3 !=4
print(x)

True

# Operasi perbandingan phyton

In [46]:
x = 2>3
print(x)

False

In [47]:
x = 3<2
print(x)

False

In [48]:
x = 2 >=3
print(x)

False

In [49]:
x = 2 <= 3
print (x)

True

In [50]:
x = 3 == 4
print(x)

False

In [51]:
x = 3 !=3
print(x)

False

# Logika di phyton

In [52]:
kesabaran_tya = 100
kesabaran_marsanda = 10
print(kesabaran_tya > 10 and kesabaran_marsanda < 110)

True

In [53]:
kesabaran_tya = 100
kesabaran_marsanda = 10
print(kesabaran_marsanda > 100 and kesabaran_tya < 10000)

False

# operator if di python

In [1]:
nilai = float(input('Nilai anda adalah '))
if nilai >= 80:
    print('Anda mendapatkan nilai A')
    print('Bagus sekali, selamat!')
if nilai < 80 and nilai >= 70:
    print('Anda mendapatkan nilai B')
    print('Tingkatkan Prestasimu!')
if nilai >= 60 and nilai <70:
    print('Anda mendapatkan nilai C')
    print('Ayo Belajar lagi')
if nilai >= 50 and nilai < 60:
    print('Anda mendapatkan nilai D')
    print('MAIN HAPE TEROSSSSS')
if nilai <50:
    print('Anda mendapatkan nilai E')
    print('goblok nya ga ketolong')

Nilai anda adalah 88
Anda mendapatkan nilai A
Bagus sekali, selamat!

In [3]:
tinggi = float(input('Berapa tinggi anda? '))
cm_atau_inci = input('Tingginya dalam cm atau inci? ')

if cm_atau_inci.upper() == 'CM' :
    tinggi = tinggi*0.393701
    print('Tinggi anda adalah ' + str(tinggi) + ' inci')
elif cm_atau_inci.upper() == 'INCI' :
    tinggi = tinggi/0.393701
    print(f'Tinggi anda adalah {tinggi} cm')

Berapa tinggi anda? 150
Tingginya dalam cm atau inci? cm
Tinggi anda adalah 59.055150000000005 inci

# Coba coba

In [1]:
nilai = float(input('Nilai anda adalah'))
if nilai >= 90:
    print('Anda mendapatkan Nilai A')
    print('Bagus sekali, Selamat ya!')
elif nilai >= 80:
    print('Anda mendapatkan Nilai B')
    print('Kerja bagus, perlu di tingkatkan lagi!')
elif nilai >= 70:
    print('Anda mendapatkan Nilai C')
    print('Belajar lebih giat lagi ya!')
elif nilai >= 60:
    print('Anda mendapatkan Nilai D')
    print('jangan main Hp terus ya!')
else :
    print('Anda Mendapatkan Nilai E')
    print('Sudah tak tertolong')

Nilai anda adalah75
Anda mendapatkan Nilai C
Belajar lebih giat lagi ya!

In [2]:
tinggi = float(input('Berapa tinggi anda? '))
cm_atau_inci = input('Tingginya dalam cm atau inci? ')

if cm_atau_inci.upper() == 'CM' :
    tinggi = tinggi*0.393701
    print('Tinggi anda adalah ' + str(tinggi) + ' inci')
elif cm_atau_inci.upper() == 'INCI' :
    tinggi = tinggi/0.393701
    print(f'Tinggi anda adalah {tinggi} cm')

Berapa tinggi anda? 100
Tingginya dalam cm atau inci? cm
Tinggi anda adalah 39.3701 inci

In [6]:
berat = float(input('Berapa berat badan anda? '))
kg_atau_gram = input('Tingginya dalam gram atau kg? ')

if kg_atau_gram.upper() == 'KG' :
    berat = berat*1000
    print('berat anda adalah ' + str(berat) + ' gram')
elif kg_atau_gram.upper() == 'GRAM' :
    berat = berat/1000
    print(f'berat anda adalah {berat} KG')

Berapa berat badan anda? 59
Tingginya dalam gram atau kg? kg
berat anda adalah 59000.0 gram